body{
    font-family: 'Hahmlet', serif;
    margin:0;
    padding: 0;

}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

/******** Top banner styles  *********/

.container{ 
    margin-bottom: 70px;
    width:1050px;
    margin-top: 60px;
    
}
    
.top-banner{
    background-color: #2D25A0;
    padding: 150px 160px;
    transition:background-image 1s;   
    
    
}
/*********** hover effect ***********/
.top-banner:hover{
    background-image: linear-gradient(to right,#87ceeb ,blue);
    
    
}
.banner:hover{
    transform:scale(1.1) rotate(30deg);
}


.banner{
    transition: transform 1s ease-in-out;
}

.banners{
    display: flex;
    align-items: center;
    
    
}
.banner-title{
    
    margin-right:102px;
    
}
.banner-title h1{
    font-size: 50px;
    font-weight: 700;
    color:#FFFFFF;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    font-size:16px;
    color:#FFFFFF;
    padding:10px 25px;
    border-radius:10px;
    transition: background-color 1s ease-in-out;
}
/*************** link button hover effect ***********/
.link-button:hover{
    background-color: orange;
}

.banner img{
    width:556px;
    height:438px;
}

/************ Top players styles ***********/

.top-players{
    background-color: #FFFFFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;

}

.player{
    box-shadow: 0px 0px 40px rgb(209, 202, 202, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:10px;
    border-radius: 6px;
}
.player img{
    width:300px;
    height: 256px;
    
}
.plyer-name{
    font-size: 20px ;
}
.player-info{
    font-size: 16px;
}

/*************** Highlights style ************/

.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.highlights-title{
    margin-right: 70px;
}
.highlights-title h1{
    color:#0A0826;
    font-size: 50px;
    font-weight: 700;

}
.highlights-banner img{
    width: 567px;
    height: 427px;
}
.watch-button{
    text-decoration: none;
    background-color: #E02C6D;
    font-size:16px;
    color:#FFFFFF;
    padding:10px 25px;
    display: inline-block;
    margin-top:40px;
}


/************** font styles ****************/


.logo img{
    width: 483.87px;
    height: 110px;
}
.football-font{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fonts{
    Width:170px;
    Height:32px;
}
.font{
    margin-right: 10px;
    background-color: #e2e3e5;
    padding:7px;
    border-radius: 85px;
}